@media print {
    #logo {
        display: none;
    }
    nav {
        page-break-after: always;
    }
    p,
    body {
        widows: 3;
        orphans: 3;
    }
    #products {
        page-break-after: always;
    }
    #additional {
        page-break-after: always;
    }
    #upcoming {
        page-break-before: always;
    }
    img {
        width: 100px;
        height: 100px;
        float: top;
    }
    table {
        table-layout: fixed;
    }
    input {
        display: none;
    }
    footer {
        page-break-after: always;
    }
}